[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/shaikkhajaibrahim2
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shaikkhajaibrahim2
	label-Verified = +1..+1 group user/Siva Tiyyagura (tsiva124)
	label-Verified = -1..+1 group user/shaikkhajaibrahim2
	push = group user/shaikkhajaibrahim2
	read = group user/shaikkhajaibrahim2
	rebase = group user/shaikkhajaibrahim2
	removeReviewer = group user/shaikkhajaibrahim2
	submit = group user/shaikkhajaibrahim2
[access "refs/heads/*"]
	create = group user/shaikkhajaibrahim2
	push = +force group user/shaikkhajaibrahim2
	pushMerge = group user/shaikkhajaibrahim2
	read = group user/Siva Tiyyagura (tsiva124)
	read = group user/shaikkhajaibrahim
	read = group user/shaikkhajaibrahim2
[access "refs/tags/*"]
	push = group user/shaikkhajaibrahim2
	push = +force group user/shaikkhajaibrahim2
[access "refs/for/refs/dev"]
	push = group user/Siva Tiyyagura (tsiva124)
	push = group user/shaikkhajaibrahim
	push = group user/shaikkhajaibrahim2
[access "refs/for/refs/master"]
	create = group user/Siva Tiyyagura (tsiva124)
	create = group user/shaikkhajaibrahim
	create = group user/shaikkhajaibrahim2
	push = group user/shaikkhajaibrahim2
	push = block group user/Siva Tiyyagura (tsiva124)
	push = block group user/shaikkhajaibrahim
	pushMerge = group user/Siva Tiyyagura (tsiva124)
	pushMerge = group user/shaikkhajaibrahim
	pushMerge = group user/shaikkhajaibrahim2
